@{
    ViewData["Title"] = "BookSystem Home";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao BooksSystem</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core"></a></p>
</div>
